section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.hidden {
    opacity: 0;
}

section.show {
    opacity: 1;
}

/* .custom-transition {
    transform: translateY(20px);
    transition: transform 0.5s ease-in-out;
}

.custom-transition.show {
    transform: translateY(0);
} */
